"*":
  "atom-beautify":
    general:
      _analyticsUserId: "c373306b-bcaa-4a6a-b845-3a269112415a"
  core:
    autoHideMenuBar: true
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
        ".hgrc"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "tree-view"
    ]
    packagesWithKeymapsDisabled: []
  editor:
    fontFamily: "Ubuntu Mono"
    fontSize: 18
    tabLength: 4
  "exception-reporting":
    userId: "b0a509ed-426f-e86d-bf1c-05f9db924660"
  nuclide:
    "nuclide-home":
      showHome: false
  welcome:
    showOnStartup: false
